<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Your Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row mx-0 justify-content-center mt-5">
            <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
                <form method="POST" class="w-100 rounded-1 p-4 border bg-white" action="/submit">
                    <label class="d-block mb-4">
                        <span class="form-label d-block">Your name</span>
                        <input name="name" type="text" class="form-control" placeholder="Joe Bloggs" required />
                    </label>

                    <label class="d-block mb-4">
                        <span class="form-label d-block">Email address</span>
                        <input name="email" type="email" class="form-control" placeholder="joe.bloggs@example.com" required />
                    </label>

                    <label class="d-block mb-4">
                        <span class="form-label d-block">Enter Your CGPA</span>
                        <input name="CGPA" type="text" class="form-control" placeholder="e.g., 8.5" required />
                    </label>

                    <label class="d-block mb-4">
                        <span class="form-label d-block">Enter Your Courses Completed</span>
                        <input name="Courses_Completed" type="text" class="form-control" placeholder="e.g., C programming" required />
                    </label>

                    <label class="d-block mb-4">
                        <span class="form-label d-block">Enter Your Preferred Field</span>
                        <input name="Preferred_Field" type="text" class="form-control" placeholder="e.g., machine learning" required />
                    </label>

                    <label class="d-block mb-4">
                        <span class="form-label d-block">Choose your Learning Style</span>
                        <input name="Learning_Style" type="text" class="form-control" placeholder="e.g., Visual" required />
                    </label>

                    <label class="d-block mb-4">
                        <span class="form-label d-block">Enter Your DSA Marks</span>
                        <input name="DSA_Marks" type="text" class="form-control" placeholder="e.g., 87" required />
                    </label>

                    <label class="d-block mb-4">
                        <span class="form-label d-block">Enter Your DBMS Marks</span>
                        <input name="DBMS_Marks" type="text" class="form-control" placeholder="e.g., 80" required />
                    </label>

                    <label class="d-block mb-4">
                        <span class="form-label d-block">Enter Your ML Marks</span>
                        <input name="ML_Marks" type="text" class="form-control" placeholder="e.g., 85" required />
                    </label>

                    <label class="d-block mb-4">
                        <span class="form-label d-block">Enter Your Microcontroller Marks</span>
                        <input name="Microcontroller_Marks" type="text" class="form-control" placeholder="e.g., 93" required />
                    </label>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary px-3 rounded-3">Send Answers</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>